@charset "UTF-8";
/*通用样式*/
*,
::before,
::after {
  font-size: 14px;
  margin: 0;
  padding: 0;
  /*点击高亮*/
  -webkit-tap-highlight-color: transparent;
  /*盒子模型*/
  /*样式输入 tap*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*文字一直*/
  font-family: '微软雅黑', sans-serif;
}
/*input 标签 去掉默认样式*/
input {
  border: none;
  -webkit-appearance: none;
}
/*a text-de*/
a {
  text-decoration: none;
}
/*list-style*/
ol,
ul {
  list-style: none;
}
/*浮动设置*/
.f_l {
  float: left;
}
.f_r {
  float: right;
}
/*清除浮动*/
.clearfix::before,
.clearfix::after {
  content: '';
  display: block;
  line-height: 0;
  height: 0;
  visibility: hidden;
  clear: both;
}
* {
  margin: 0;
  padding: 0;
}
#Link {
  display: block;
  width: 70px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  margin: 20px auto;
  text-decoration: none;
  background-color: #3277DE;
  color: white;
  border: 1px solid seagreen;
  border-radius: 6px;
}
/*弹出层遮罩*/
.layer-mask {
  display: none;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #666666;
  opacity: 0.5;
}
/*弹出层窗体*/
.layer-pop {
  display: none;
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 940px;
  height: 540px;
  background: #fff;
}
.layer-pop #layer-content .TC-header {
  width: 100%;
  height: 40px;
  background-color: #3277DE;
}
.layer-pop #layer-content .TC-header p {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 40px;
  margin-left: 11px;
}
.layer-pop #layer-content .TC-body {
  width: 900px;
  height: 298px;
  position: relative;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #E3E3E3;
  display: flex;
}
.layer-pop #layer-content .TC-body .div1 {
  width: 100%;
  height: 41px;
  display: flex;
  border-bottom: 1px solid #E3E3E3;
}
.layer-pop #layer-content .TC-body .div1 .cont1 {
  flex: 1;
}
.layer-pop #layer-content .TC-body .div1 .cont2 {
  flex: 1;
}
.layer-pop #layer-content .TC-body .div1 span {
  display: inline-block;
  height: 100%;
  width: 134px;
  background-color: #F7F7F7;
  text-align: center;
  line-height: 41px;
  border-left: 1px solid #E3E3E3;
}
.layer-pop #layer-content .TC-body .div1 input {
  display: inline-block;
  height: 90%;
  width: 286px;
  padding-left: 20px;
  line-height: 41px;
  border: 1px solid #E3E3E3;
}
.layer-pop #layer-content .TC-body .div1 select {
  display: inline-block;
  height: 90%;
  width: 308px;
  padding-left: 20px;
  line-height: 41px;
  border: 1px solid #E3E3E3;
}
.layer-pop #layer-content .TC-body .div2 {
  width: 100%;
  height: 41px;
  display: flex;
  border-bottom: 1px solid #E3E3E3;
}
.layer-pop #layer-content .TC-body .div2 .cont1 span {
  display: inline-block;
  height: 100%;
  width: 134px;
  background-color: #F7F7F7;
  text-align: center;
  line-height: 41px;
  border-left: 1px solid #E3E3E3;
}
.layer-pop #layer-content .TC-body .div2 .cont1 select {
  display: inline-block;
  height: 90%;
  width: 286px;
  padding-left: 20px;
  line-height: 41px;
  border: 1px solid #E3E3E3;
}
.layer-pop #layer-content .TC-body .div4 {
  width: 100%;
  height: 88px;
  border-bottom: 1px solid #E3E3E3;
}
.layer-pop #layer-content .TC-body .div4 .cont1 {
  height: 100%;
  position: relative;
}
.layer-pop #layer-content .TC-body .div4 .cont1 span {
  position: absolute;
  left: 0;
  display: inline-block;
  height: 100%;
  width: 134px;
  background-color: #F7F7F7;
  text-align: center;
  line-height: 76px;
  border-left: 1px solid #E3E3E3;
}
.layer-pop #layer-content .TC-body .div4 .cont1 textarea {
  position: absolute;
  left: 140px;
  top: 2px;
  display: inline-block;
  font-size: 16px;
  padding-left: 20px;
  line-height: 41px;
  border: 1px solid #E3E3E3;
}
.layer-pop #layer-content .TC-body .div5 {
  width: 100%;
  height: 35px;
  position: absolute;
  border-bottom: 0;
}
.layer-pop #layer-content .TC-body .div5 input {
  display: inline-block;
  height: 55px;
  width: 120px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  line-height: 55px;
  cursor: pointer;
  border-radius: 12px;
  border: none;
}
.layer-pop #layer-content .TC-body .div5 .i1 {
  background-color: #3277DE;
  position: absolute;
  left: 25%;
  bottom: -90px;
}
.layer-pop #layer-content .TC-body .div5 .i2 {
  background-color: #ee4400;
  position: absolute;
  right: 25%;
  bottom: -90px;
}
/*弹出层关闭按钮*/
.layer-close {
  float: right;
  width: 24px;
  height: 24px;
  border: 3px solid #fff;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  background: #eee;
  margin-right: -12px;
  margin-top: -12px;
}
.layer-close:hover {
  cursor: pointer;
  background: #ccc;
  color: #fff;
}
html,
body {
  width: 100%;
  height: auto;
}
html .header,
body .header {
  width: 100%;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 999;
  transition: all 1s;
}
html .header:hover,
body .header:hover {
  background-color: black;
}
html .header .nav-fixed,
body .header .nav-fixed {
  width: 100%;
}
html .header .nav-fixed .nav-logo,
body .header .nav-fixed .nav-logo {
  position: absolute;
  left: 44px;
  top: 19px;
  width: 100px;
  height: 25px;
  font-size: 24px;
  font-weight: bold;
}
html .header .nav-fixed .nav-logo a,
body .header .nav-fixed .nav-logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: white;
}
html .header .nav-fixed .nav-logo a img,
body .header .nav-fixed .nav-logo a img {
  display: inline-block;
  width: 100%;
  height: auto;
}
html .header .nav-fixed .nav-list,
body .header .nav-fixed .nav-list {
  overflow: hidden;
  list-style: none;
  padding-left: 150px;
}
html .header .nav-fixed .nav-list li,
body .header .nav-fixed .nav-list li {
  float: left;
  margin-left: 44px;
}
html .header .nav-fixed .nav-list li a,
body .header .nav-fixed .nav-list li a {
  text-align: center;
  text-decoration: none;
  color: white;
  line-height: 64px;
}
html .header .nav-fixed .nav-right,
body .header .nav-fixed .nav-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 540px;
  height: 100%;
  line-height: 64px;
}
html .header .nav-fixed .nav-right .nav-search,
body .header .nav-fixed .nav-right .nav-search {
  float: left;
}
html .header .nav-fixed .nav-right .nav-search i,
body .header .nav-fixed .nav-right .nav-search i {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: -4px;
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}
html .header .nav-fixed .nav-right .nav-search input,
body .header .nav-fixed .nav-right .nav-search input {
  display: inline-block;
  background-color: black;
  opacity: 0;
  color: white;
  width: 3px;
  height: 24px;
  line-height: 24px;
  padding-left: 9px;
  transition: all 1s;
}
html .header .nav-fixed .nav-right .nav-search input:focus,
body .header .nav-fixed .nav-right .nav-search input:focus {
  width: 150px;
  opacity: 1;
}
html .header .nav-fixed .nav-right .nav-search input::-webkit-input-placeholder,
body .header .nav-fixed .nav-right .nav-search input::-webkit-input-placeholder {
  color: white;
}
html .header .nav-fixed .nav-right a,
body .header .nav-fixed .nav-right a {
  float: right;
  display: inline-block;
  width: 100px;
  height: 36px;
  color: white;
  text-align: center;
  line-height: 36px;
  background-color: #c99a05;
  margin-top: 15px;
  border-radius: 5px;
}
html .header .nav-fixed .nav-right a:nth-of-type(1),
body .header .nav-fixed .nav-right a:nth-of-type(1) {
  margin-right: 100px;
}
html .header .nav-fixed .nav-right a:nth-of-type(2),
body .header .nav-fixed .nav-right a:nth-of-type(2) {
  margin-right: 51px;
}
html .section-lubo,
body .section-lubo {
  width: 100%;
  height: 802px;
}
html .section-lubo .slot,
body .section-lubo .slot {
  width: 100%;
  height: 100%;
}
html .section-lubo .slot .swiper-wrapper .s1,
body .section-lubo .slot .swiper-wrapper .s1 {
  background-image: url("../images/logo1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
html .section-lubo .slot .swiper-wrapper .s2,
body .section-lubo .slot .swiper-wrapper .s2 {
  background-image: url("../images/logo3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
html .section-random,
body .section-random {
  width: 100%;
  height: 1000px;
}
html .section-random p,
body .section-random p {
  text-align: center;
  margin: 72px auto;
  font-size: 18px;
}
html .section-random .random-content,
body .section-random .random-content {
  width: 1200px;
  height: 885px;
  background-color: seagreen;
  margin: 0 auto;
}
html .section-Album,
body .section-Album {
  width: 100%;
  height: 888px;
}
html .section-Album p,
body .section-Album p {
  text-align: center;
  margin: 72px auto;
  font-size: 18px;
}
html .section-Album .Album-content,
body .section-Album .Album-content {
  width: 1200px;
  height: 570px;
  background-color: seagreen;
  margin: 0 auto;
}
html .footer-content,
body .footer-content {
  width: 100%;
  height: 202px;
  background-color: #222222;
  position: relative;
}
html .footer-content p,
body .footer-content p {
  color: white;
  position: absolute;
  bottom: 5px;
  left: 40%;
}
