@import "reset";
@import "mask";
html,body {
  width: 100%;
  height: auto;
  background: #F2F2F2;
  #container {
    width: 100%;
    @media screen and (max-width: 1220px) {
      .header{
        .nav-fixed{
          .nav-right{
            .nav-search{
              display: none;
            }
          }
        }
      }
    }
    @media screen and (max-width: 995px) {
      .header {
        .nav-fixed {
          .nav-right{
            display: none;
          }
        }
      }
    }
    .header {
      width: 100%;
      height: 64px;
      background-color: rgba(0, 0, 0, 0.1);
      position: fixed;
      top: 0;
      z-index: 999;
      transition: all 1s;
      &:hover {
        background-color: black;
      }
      .nav-fixed {
        width: 100%;
        .nav-logo {
          position: absolute;
          left: 44px;
          top: 19px;
          width: 100px;
          height: 25px;
          //background-color: seagreen;
          font-size: 24px;
          font-weight: bold;
          a {
            display: inline-block;
            width: 100%;
            height: 100%;
            color: white;
            img {
              display: inline-block;
              width: 100%;
              height: auto;
            }
          }
        }
        .nav-list {
          overflow: hidden;
          list-style: none;
          padding-left: 150px;
          li {
            float: left;
            margin-left: 44px;
            a {
              text-align: center;
              text-decoration: none;
              color: white;
              line-height: 64px;
            }
          }
        }
        .nav-right {
          position: absolute;
          right: 0;
          top: 0;
          width: 540px;
          height: 100%;
          line-height: 64px;
          .nav-search {
            float: left;
            i {
              display: inline-block;
              width: 20px;
              height: 20px;
              margin-bottom: -4px;
              background-image: url("../images/search.png");
              background-repeat: no-repeat;
              background-size: 20px 20px;
              background-position: center;
            }
            input {
              display: inline-block;
              background-color: black;
              opacity: 0;
              color: white;
              width: 3px;
              height: 24px;
              line-height: 24px;
              padding-left: 9px;
              transition: all 1s;
              &:focus {
                width: 150px;
                opacity: 1;
              }
            }
            input::-webkit-input-placeholder {
              color: white;
            }

          }
          a {
            float: right;
            display: inline-block;
            width: 100px;
            height: 36px;
            color: white;
            text-align: center;
            line-height: 36px;
            background-color: #c99a05;
            margin-top: 15px;
            border-radius: 5px;
          }
          a:nth-of-type(1) {
            margin-right: 100px;
          }
          a:nth-of-type(2) {
            margin-right: 51px;
          }
        }
      }
    }
    .section-lubo {
      width: 100%;
      height: 802px;
      .slot {
        width: 100%;
        height: 100%;
        .swiper-wrapper {
          .s1 {
            background-image: url("../images/logo1.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
          .s2 {
            background-image: url("../images/logo3.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
        }

      }
    }
    .section-random {
      width: 100%;
      height: 1000px;
      p {
        text-align: center;
        margin: 72px auto;
        font-size: 18px;
        mark {
          font-size: 18px;
        }
      }
      .random-content {
        width: 1200px;
        height: 885px;
        //background-color: seagreen;
        margin: 0 auto;
        .content-list {
          list-style: none;
          li {
            a {
              margin: 0 0 10px 10px;
            }
          }
          .list-one {
            display: inline-block;
            a {
              text-decoration: none;
              display: inline-block;
              position: relative;
            }
            a:nth-child(1) {
              width: 280px;
              height: 100%;
              background-image: url("../images/r-1.webp");
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
            }
            a:nth-child(2) {
              width: 280px;
              height: 100%;
              background-image: url("../images/r-2.webp");
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
            }
            a:nth-child(3) {
              width: 280px;
              height: 100%;
              background-image: url("../images/r-1.webp");
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
            }
            a:nth-child(4) {
              width: 280px;
              height: 100%;
              background-image: url("../images/r-2.webp");
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
            }
          }
          .list-tow {
            display: inline-block;
            a {
              text-decoration: none;
              display: inline-block;
              position: relative;
            }
            a:nth-child(1) {
              width: 280px;
              height: 100%;
              background-image: url("../images/r-3.webp");
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
            }
            a:nth-child(2) {
              width: 280px;
              height: 100%;
              background-image: url("../images/r-4.webp");
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
            }
            a:nth-child(3) {
              width: 280px;
              height: 100%;
              background-image: url("../images/r-3.webp");
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
            }
            a:nth-child(4) {
              width: 280px;
              height: 100%;
              background-image: url("../images/r-4.webp");
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
            }
          }
          .list-three {
            display: inline-block;
            a {
              text-decoration: none;
              display: inline-block;
              position: relative;
            }
            a:nth-child(1) {
              width: 280px;
              height: 100%;
              background-image: url("../images/r-5.webp");
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
            }
            a:nth-child(2) {
              width: 280px;
              height: 100%;
              background-image: url("../images/r-6.webp");
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
            }
            a:nth-child(3) {
              width: 280px;
              height: 100%;
              background-image: url("../images/r-5.webp");
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
            }
            a:nth-child(4) {
              width: 280px;
              height: 100%;
              background-image: url("../images/r-6.webp");
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
            }
          }

          a {
            overflow: hidden;
            .one-content {
              display: inline-block;
              position: absolute;
              z-index: 2;
              background-color: rgba(0, 0, 0, 0.2);
              width: 100%;
              height: 100%;
              left: -100%;
              top: -100%;
              line-height: 265px;
              text-align: center;
              color: #fff;
              font-size: 70px;
            }
            .trans {
              transition: all .2s;
              backface-visibility: hidden;
            }
          }
        }

      }
    }
    .section-Album {
      width: 100%;
      height: 999px;
      p {
        text-align: center;
        margin: 72px auto;
        font-size: 18px;
        mark {
          font-size: 18px;
        }
      }
      .Album-content {
        width: 1200px;
        height: 570px;
        //background-color: seagreen;
        margin: 0 auto;
        .Al-content-list {
          list-style: none;
          width: 100%;
          .Al-item {
            width: 100%;
            height: 240px;
            margin-bottom: 20px;
            a {
              width: 384px;
              height: 100%;
              display: inline-block;
              position: relative;
              margin: 0 0 30px 10px;
              span:nth-of-type(1) {
                display: inline-block;
                width: 112px;
                height: 25px;
                text-align: center;
                line-height: 25px;
                font-size: 12px;;
                color: #fff;
                font-weight: 600;
                background: linear-gradient(to right, #e3a04b, rgba(240, 210, 190, 0.1));
                position: absolute;
                top: 0;
                left: 0;
              }
              span:nth-of-type(2) {
                display: inline-block;
                position: absolute;
                bottom: 10px;
                left: 6px;
                font-size: 16px;
                font-weight: 600;
                color: #e87878;
                font-family: '微软雅黑', sans-serif;

              }
              em {
                display: inline-block;
                font-style: normal;
                font-size: 12px;
                color: #808387;
                position: absolute;
                bottom: 10px;
                right: 6px;
              }
            }
            a:nth-child(1) {
              .I-Father {
                width: 100%;
                height: 80%;
                overflow: hidden;
                i {
                  display: inline-block;
                  width: 100%;
                  height: 100%;
                  background-image: url("../images/Al-1.jpg");
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;
                  transition: all 1s;
                  &:hover {
                    transform: scale(1.1);
                  }
                }
              }

            }
            a:nth-child(2) {
              .I-Father {
                width: 100%;
                height: 80%;
                overflow: hidden;
                i {
                  display: inline-block;
                  width: 100%;
                  height: 100%;
                  background-image: url("../images/Al-2.jpg");
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;
                  transition: all 1s;
                  &:hover {
                    transform: scale(1.1);
                  }
                }
              }
            }
            a:nth-child(3) {
              .I-Father {
                width: 100%;
                height: 80%;
                overflow: hidden;
                i {
                  display: inline-block;
                  width: 100%;
                  height: 100%;
                  background-image: url("../images/Al-2.jpg");
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;
                  transition: all 1s;
                  &:hover {
                    transform: scale(1.1);
                  }
                }
              }
            }
            a:nth-child(4) {
              .I-Father {
                width: 100%;
                height: 80%;
                overflow: hidden;
                i {
                  display: inline-block;
                  width: 100%;
                  height: 100%;
                  background-image: url("../images/Al-1.jpg");
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;
                  transition: all 1s;
                  &:hover {
                    transform: scale(1.1);
                  }
                }
              }

            }
            a:nth-child(5) {
              .I-Father {
                width: 100%;
                height: 80%;
                overflow: hidden;
                i {
                  display: inline-block;
                  width: 100%;
                  height: 100%;
                  background-image: url("../images/Al-2.jpg");
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;
                  transition: all 1s;
                  &:hover {
                    transform: scale(1.1);
                  }
                }
              }

            }
            a:nth-child(6) {
              .I-Father {
                width: 100%;
                height: 80%;
                overflow: hidden;
                i {
                  display: inline-block;
                  width: 100%;
                  height: 100%;
                  background-image: url("../images/Al-1.jpg");
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;
                  transition: all 1s;
                  &:hover {
                    transform: scale(1.1);
                  }
                }
              }

            }
            a:nth-child(7) {
              .I-Father {
                width: 100%;
                height: 80%;
                overflow: hidden;
                i {
                  display: inline-block;
                  width: 100%;
                  height: 100%;
                  background-image: url("../images/Al-2.jpg");
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;
                  transition: all 1s;
                  &:hover {
                    transform: scale(1.1);
                  }
                }
              }
            }
            a:nth-child(8) {
              .I-Father {
                width: 100%;
                height: 80%;
                overflow: hidden;
                i {
                  display: inline-block;
                  width: 100%;
                  height: 100%;
                  background-image: url("../images/Al-1.jpg");
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;
                  transition: all 1s;
                  &:hover {
                    transform: scale(1.1);
                  }
                }
              }
            }
            a:nth-child(9) {
              .I-Father {
                width: 100%;
                height: 80%;
                overflow: hidden;
                i {
                  display: inline-block;
                  width: 100%;
                  height: 100%;
                  background-image: url("../images/Al-2.jpg");
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;
                  transition: all 1s;
                  &:hover {
                    transform: scale(1.1);
                  }
                }
              }
            }
          }
        }
      }
    }
    .footer-content {
      width: 100%;
      height: 202px;
      background-color: #222222;
      position: relative;
      p {
        color: white;
        position: absolute;
        bottom: 5px;
        left: 40%;
      }
    }
    .section-mask {
      #layer-pop{
        #layer-content{
          height: 100%;
          .TC-body{
            /*窗体内容设置*/
            height: 100%;
            .body-content{
              width: 345px;
              height: 383px;
              margin: 0 auto;
              position: relative;
              span{
                display: inline-block;
                font-size: 24px;
                position: absolute;
                left: 0;
                top: 8px;
              }
              i{
                display: inline-block;
                font-style: normal;
                position: absolute;
                right: 0;
                top: 14px;
                color: black;
                a {
                  display: inline-block;
                  text-decoration: none;
                  color: black;
                  border-bottom: 1px solid black;
                  &:hover {
                    color: coral;
                  }
                }
              }
              .form-class {
                width: 100%;
                height: 250px;
                margin-top: 70px;
                .form-flex{
                  width: 100%;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  div {
                    flex: 1;
                  }
                }
                .btn {
                  width: 100%;
                  height: 50px;
                  background: #c99a05;
                  text-align: center;
                  line-height: 50px;
                  color: #fff;
                  font-size: 20px;
                  cursor: pointer;
                  margin-top: 40px;
                  border-radius: 20px;
                }
                .github-img{
                  display: inline-block;
                  width: 40px;
                  height: 40px;
                  background-image: url("../images/login-logo.png");
                  background-position: center;
                  background-size: cover;
                  background-repeat: no-repeat;
                  border-radius: 50%;
                  position: absolute;
                  top: 450px;
                  right: 44%;
                  cursor: pointer;
                }
                .other-login {
                  display: inline-block;
                  font-style: normal;
                  color: black;
                  font-size: 16px;
                  position: absolute;
                  top: 461px;
                  right: 75%;
                }
              }
              .login-form {
                .form-flex{
                  .user{
                    input{
                      width: 90%;
                      font-size: 16px;
                      padding-top: 25px;
                      padding-left: 4px;
                      border: 0;
                      /*去除input选重默认蓝色边框*/
                      outline: none;
                      height: 100%;
                      border-bottom: 1px solid darkgoldenrod;
                     }
                    }
                  .password {
                    position: relative;
                    input{
                      width: 90%;
                      font-size: 16px;
                      padding-top: 25px;
                      padding-left: 4px;
                      border: 0;
                      /*去除input选重默认蓝色边框*/
                      outline: none;
                      height: 100%;
                      border-bottom: 1px solid darkgoldenrod;
                    }
                    a{
                      text-decoration: none;
                      color: black;
                      display: inline-block;
                      position: absolute;
                      right: 16px;
                      top: 131%;
                    }
                  }
                  }
                }
              .register-form{
                .form-flex {
                  .user {
                    input {
                      width: 90%;
                      font-size: 16px;
                      padding-top: 25px;
                      padding-left: 4px;
                      border: 0;
                      /*去除input选重默认蓝色边框*/
                      outline: none;
                      height: 100%;
                      border-bottom: 1px solid darkgoldenrod;
                    }
                  }
                  .password {
                    position: relative;
                    input {
                      width: 90%;
                      font-size: 16px;
                      padding-top: 25px;
                      padding-left: 4px;
                      border: 0;
                      /*去除input选重默认蓝色边框*/
                      outline: none;
                      height: 100%;
                      border-bottom: 1px solid darkgoldenrod;
                    }
                  }
                  .phone {
                    position: relative;
                    input {
                      width: 90%;
                      font-size: 16px;
                      padding-top: 25px;
                      padding-left: 4px;
                      border: 0;
                      /*去除input选重默认蓝色边框*/
                      outline: none;
                      height: 100%;
                      border-bottom: 1px solid darkgoldenrod;
                    }
                    a{
                      position: absolute;
                      right: 10px;
                      top: 50%;
                      color: darkgoldenrod;
                      text-decoration: none;
                    }
                  }
                  .er_code {
                    position: relative;
                    input {
                      width: 90%;
                      font-size: 16px;
                      padding-top: 25px;
                      padding-left: 4px;
                      border: 0;
                      /*去除input选重默认蓝色边框*/
                      outline: none;
                      height: 100%;
                      border-bottom: 1px solid darkgoldenrod;
                    }
                    img{
                      position: absolute;
                      right: 22px;
                      top: 23%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}